.container {
  background-color: var(--mantine-color-gray-1);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
}

.slider_root {
  /* Add any custom styles here if needed */
}

.slider_track {
  &::before {
    background-color: var(--mantine-color-white);
  }
}

.slider_bar {
  background-color: var(--mantine-color-gray-5);
}

.slider_thumb {
  background-color: var(--mantine-color-gray-2);
}

.slider_thumb:hover {
  height: 1.2rem;
  width: 1.2rem;
}

.time {
  color: var(--mantine-color-gray-8);
  font-weight: 500;
  font-size: var(--mantine-font-size-lg);
}
